#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

:target {
  scroll-margin-top: 60px;
}

@media screen and (max-width: 1000px) {
  :target {
    scroll-margin-top: 0;
  }
}

@media screen and (max-width: 750px) {
  #root {
    padding: 1rem;
  }
}

@media screen and (max-width: 500px) {
  #root {
    padding: 0.5rem;
  }
}