.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #ffffff96;

    margin-top: 2rem;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-photo {
    margin-right: 1rem;
}

.footer-photo img {
    border-radius: 50%;
    height: 60px;

    animation: rotation360 10s infinite linear;
}

.footer-text {
    text-align: center;
}

.footer-text p {
    margin: 0;
}

.footer-article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 2rem auto;
    margin-bottom: 1rem !important;
}

.footer-article-2 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2rem !important;
}

.footer-styled {
    background: #9775fa;
    border-radius: 10px;
    text-align: center;
    line-height: 25px;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.7rem;
}

.show-number {
    text-align: center;
    border: 1px;
    background: #7660b5;
    width: 26px;
    height: 22px;
    border-radius: 3px;
    padding: 2px 4px;
    margin: 0 2px;
}

@keyframes rotation360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1000px) {
    .footer {
        margin-top: 0;
    }

    .footer-text p {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        gap: 1rem;

        margin-top: 1rem;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 350px) {
    .footer-article-2 p {
        font-size: 0.85rem;
    }
}

.footer-article-2 p {
    transition: 300ms;
}
