.title-icon {
    display: flex;
    align-items: center;
}

.title-icon img {
    height: 36px;

    padding: 0 1.5rem;
}

.children {
    margin: 1rem 3rem;
}

@media screen and (max-width: 800px) {
    .children {
        margin: 1rem 2rem;
    }
}

@media screen and (max-width: 600px) {
    .children {
        margin: 1rem;
    }
}